# Flask stuff:
instance/
.webassets-cache
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.__pycache__
*.pyc
*.pyo
__pycache__/
*.pyd
*.so
*.pdb
*.dll
*.lib
*.exp
*.obj
*.o
*.a
*.la
*.al
*.lo
*.c
*.h
*.
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
